@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
.active {
    color: rgb(0, 183, 255);
    background-color: rgb(250, 254, 255);
    border-bottom: 2px solid rgb(0, 183, 255);
}
  
 